/* You can add global styles to this file, and also import other style files */

.navbar-nav img {
    height: 30px;
}

.navbar-nav .dropdown-menu {
    top: 49px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
