<div class="change-password-dialog">
    <div class="dialog-close-button-container">
        <button mat-icon-button class="dialog-close-button" mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <h1 mat-dialog-title>Atnaujinti slaptažodį</h1>
    <alert id="alert-1"></alert>
    <div mat-dialog-content [formGroup]="form" (keyup.enter)="updatePassword()" class="password">
        <mat-form-field appearance="outline">
            <mat-label>Senas slaptažodis</mat-label>
            <input matInput type="password" formControlName="currentPassword" required>
            <mat-error *ngIf="submitted && f.currentPassword.hasError('required')">
                Šis laukas yra būtinas
            </mat-error>     
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Naujas slaptažodis</mat-label>
            <input matInput type="password" formControlName="password" required>
            <mat-error *ngIf="submitted && f.password.hasError('required')">
                Šis laukas yra būtinas
            </mat-error>
            <mat-error *ngIf="f.password.hasError('minlength')">
                Slaptažodis turi būti bent 6 simbolių ilgio
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Pakartokite naują slaptažodį</mat-label>
            <input matInput type="password" formControlName="confirmPassword" required>
            <mat-error *ngIf="submitted && f.confirmPassword.hasError('required')">
                Šis laukas yra būtinas
            </mat-error>
            <mat-error *ngIf="f.confirmPassword.hasError('mustMatch')">
                Slaptažodis turi sutapti
            </mat-error>
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
    <button mat-flat-button color="accent" (click)="updatePassword()" [disabled]="!form.valid">Išsaugoti</button>
    </div>
</div>