.settings-title {
    display: flex;
}

.settings-icon {
    margin-right: 7px;
}

.tab-title {
    margin-top: 35px;
    margin-bottom: 35px;
}

.mat-divider {
    margin-top: -15px;
    margin-bottom: 35px;
}

.tab-section {
    max-width: 650px;
}
