<h1 *ngIf="isAddMode">Sukurti Bityną</h1>
<h1 *ngIf="!isAddMode">Redaguoti Bityną</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="container">
        <mat-form-field>
            <mat-label>Pavadinimas</mat-label>
            <input matInput formControlName="name">
            <mat-error *ngIf="submitted && f.no.errors">
                Šis laukas yra būtinas
            </mat-error>      
        </mat-form-field>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Sukurti
        </button>
        <!--<a routerLink="/apiaries" class="btn btn-link">Atšaukti</a>-->
    </div>
</form>