<div class="p-4">
    <div class="container">
        <div *ngIf="apiary">
            <div class="header">
                <h1>{{apiary.name}} bitynas</h1>
                <button mat-icon-button>
                    <mat-icon *ngIf="worker.role == 0" routerLink="/apiaries/{{apiary.id}}/edit/">edit</mat-icon>
                </button>
            </div>
            <div class="sub-menu">
                <mat-chip-list>
                    <mat-chip routerLink="/apiaries/{{apiary.id}}/home" routerLinkActive="active">Pagrindinis</mat-chip>
                    <mat-chip routerLink="/apiaries/{{apiary.id}}/beefamilies" routerLinkActive="active">Bityno šeimos</mat-chip>
                    <mat-chip routerLink="/apiaries/{{apiary.id}}/harvests" routerLinkActive="active">Kopimai</mat-chip>
                </mat-chip-list>
            </div>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>