<h1 mat-dialog-title>Šeimos perkėlimas</h1>
<div class="example-loading-shade" *ngIf="formLoading">
    <mat-spinner *ngIf="formLoading" color="accent"></mat-spinner>
</div>
<div mat-dialog-content *ngIf="!formLoading">
    <form [formGroup]="form">
        <mat-form-field [ngStyle]="{'margin-bottom': '20px'}">
            <mat-label>Bitynas</mat-label>
            <mat-select formControlName="apiaryId">
                <mat-option *ngFor="let apiary of apiaries" [value]="apiary.id">
                    {{apiary.name}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="submitted && f.apiaryId.errors">
                Šis laukas yra būtinas
            </mat-error>
        </mat-form-field>
        <mat-form-field [ngStyle]="{'margin-bottom': '20px'}">
            <mat-label>Pastatymo data</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="departDate" [max]="today">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="submitted && f.departDate.errors">
                Neteisinga data
            </mat-error>   
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-flat-button color="accent" [disabled]="loading" (click)="onSubmit()">
        Išsaugoti
        <mat-icon *ngIf="loading" color="accent"><mat-spinner diameter="20">
        </mat-spinner></mat-icon>
    </button>
    <a mat-stroked-button (click)="onNoClick()">Atšaukti</a>
</div>