<div *ngIf="beehive">
    <mat-card class="bee-card">
        <mat-card-title>
            Šeima
            <button mat-icon-button>
                <mat-icon routerLink="edit/">edit</mat-icon>
            </button>
        </mat-card-title>
        <mat-card-content>
            <!-- <p>Bitynas: <a routerLink="/apiaries/{{apiaryBeefamily.apiary.id}}">{{apiaryBeefamily.apiary.name}}</a></p>
            <p>Atsiradimo kilmė: {{beeFamilyOrigin2LabelMapping[beefamily.origin]}}</p>
            <p>Būsena: {{beeFamilyState2LabelMapping[beefamily.state]}}</p>
            <p *ngIf="beefamily.requiredFoodForWinter">Reikalingas maisto kiekis: {{beefamily.requiredFoodForWinter}}</p> -->
            <table mat-table [dataSource]="beefamilies" class="family-table">
                <ng-container matColumnDef="apiary">
                    <th mat-header-cell *matHeaderCellDef>Bitynas</th>
                    <td mat-cell *matCellDef="let element"><a routerLink="/apiaries/{{element.apiary.id}}/home">{{element.apiary.name}}</a></td>
                </ng-container>
                <ng-container matColumnDef="origin">
                    <th mat-header-cell *matHeaderCellDef>Kilmė</th>
                    <td mat-cell *matCellDef="let element">{{beeFamilyOrigin2LabelMapping[element.origin]}}</td>
                </ng-container>
                <ng-container matColumnDef="state">
                    <th mat-header-cell *matHeaderCellDef>Būsena</th>
                    <td mat-cell *matCellDef="let element">{{beeFamilyState2LabelMapping[element.state]}}</td>
                </ng-container>
                <ng-container matColumnDef="food">
                    <th mat-header-cell *matHeaderCellDef>Reikalingas maisto kiekis</th>
                    <td mat-cell *matCellDef="let element">{{element.food}}</td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="beefamilyTableColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: beefamilyTableColumns;"></tr>
            </table>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-title>
            Avilys
            <button mat-icon-button>
                <mat-icon routerLink="edit/">edit</mat-icon>
            </button>
        </mat-card-title>
        <mat-card-content>
            <div class="beehive-info">
                <div *ngIf="beehiveType2LabelMapping[beehive.type] == 'Dadano'">
                    <img src="assets/dadano.jpg">
                </div>
                <div *ngIf="beehiveType2LabelMapping[beehive.type] == 'Daugiaaukštis'">
                    <img src="assets/daugiaaukstis.jpg">
                </div>
                <div class="info-section">
                    <h2>Nr: {{beehive.no}}</h2>
                    <p>Tipas: {{beehiveType2LabelMapping[beehive.type]}}</p>
                    <div *ngIf="beehiveType2LabelMapping[beehive.type] == 'Dadano'">
                        <p>Įsigijimo data: {{beehive.acquireDay}}</p>
                        <p>Spalva: {{color2LabelMapping[beehive.color]}}</p>
                        <p>Lizdiniai koriai: {{beehive.nestCombs}}</p>
                        <p>Lizdinių korių limitas: {{beehive.maxNestCombs}}</p>
                        <p>Užpildymas: {{expandPercent}}%</p>
                        <mat-progress-spinner
                            color="accent"
                            [value]="expandPercent">
                        </mat-progress-spinner>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>
