<div *ngIf="beehive && apiaryFamily">
    <a mat-stroked-button (click)="goToBeefamilies()" [ngStyle]="{'margin-bottom': '10px'}">
        <mat-icon>arrow_back</mat-icon>
        Bityno šeimos
    </a>
    <h1>Bičių šeima nr. {{beehive.no}}</h1>
    <div class="sub-menu">
        <mat-chip-list>
            <mat-chip routerLink="/apiaries/{{apiaryFamily.apiary.id}}/beefamilies/{{beefamily.id}}/home" 
            routerLinkActive="active">Pagrindinis</mat-chip>
            <mat-chip routerLink="/apiaries/{{apiaryFamily.apiary.id}}/beefamilies/{{beefamily.id}}/beefamilyqueens"
            routerLinkActive="active">Motinėlė</mat-chip>
            <mat-chip routerLink="/apiaries/{{apiaryFamily.apiary.id}}/beefamilies/{{beefamily.id}}/components"
            routerLinkActive="active">Avilio sudėtis</mat-chip>
            <mat-chip routerLink="/apiaries/{{apiaryFamily.apiary.id}}/beefamilies/{{beefamily.id}}/nestexpansions"
            routerLinkActive="active">Plėtimai</mat-chip>
            <mat-chip routerLink="/apiaries/{{apiaryFamily.apiary.id}}/beefamilies/{{beefamily.id}}/nestreductions"
            routerLinkActive="active">Siaurinimai</mat-chip>
            <mat-chip routerLink="/apiaries/{{apiaryFamily.apiary.id}}/beefamilies/{{beefamily.id}}/feedings"
            routerLinkActive="active">Maitinimai</mat-chip>
        </mat-chip-list>
    </div>
</div>
<router-outlet></router-outlet>
