<mat-card>
    <mat-card-title>Prisijungimas</mat-card-title>
    <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <mat-form-field class="full-width-input">
              <input matInput placeholder="Slapyvardis" formControlName="username" required>
              <mat-error>
                Netinkamas vartotojo vardas
              </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width-input">
              <input matInput type="password" placeholder="Slaptažodis" formControlName="password" required>
              <mat-error>
                Netinkamas slaptažodis
              </mat-error>
            </mat-form-field>
            <button mat-raised-button color="primary">Prisijungti</button>
          </form>
    </mat-card-content>
</mat-card>
