.category-selection-list {
    display: flex;
}

.form-fields {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 600px;
    height: 550px;
}

.product-field {
    width: 180px;
}

.date-field {
    width: 180px;
}

.quantity-field {
    width: 180px; 
}

.category {
    display: flex;
    flex-direction: column;
}

.category-title {
    margin-bottom: -8px;
}