<h1 *ngIf="isAddMode">Pridėti naują bičių maistą</h1>
<h1 *ngIf="!isAddMode">Atnaujinti bičių maistą</h1>
<div class="example-loading-shade" *ngIf="formLoading">
    <mat-spinner *ngIf="formLoading" color="accent"></mat-spinner>
</div>
<div *ngIf="!formLoading">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-fields">
            <mat-form-field>
                <mat-label>Pavadinimas</mat-label>
                <input matInput formControlName="name">
                <mat-error *ngIf="submitted && f.name.errors">
                    Šis laukas yra būtinas
                </mat-error>      
            </mat-form-field>
        </div>
        <div class="form-group">
            <button mat-flat-button color="accent" [disabled]="loading">
                Išsaugoti
                <mat-icon *ngIf="loading" color="accent"><mat-spinner diameter="20">
                </mat-spinner></mat-icon>
            </button>
            <a mat-stroked-button (click)="backToList()">Atšaukti</a>
        </div>
    </form>
</div>