<h1 *ngIf="isAddMode">Pridėti naują ūkį</h1>
<h1 *ngIf="!isAddMode && farm">Atnaujinti ūkį {{farm.name}}</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-fields">
        <mat-form-field appearance="fill">
            <mat-label>Pavadinimas</mat-label>
            <input matInput formControlName="name">
            <mat-error *ngIf="submitted && f.name.errors && f.name.errors.required">
                Pavadinimas yra privalomas
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Sukūrimo data</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="creationDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="submitted && f.creationDate.errors">
                Neteisingas datos formatas
            </mat-error>
        </mat-form-field>
    </div>
    <div class="form-group">
        <button mat-flat-button color="primary" [disabled]="loading">
            Išsaugoti
            <mat-icon *ngIf="loading"><mat-spinner diameter="20">
            </mat-spinner></mat-icon>
        </button>
        <a routerLink="/farms" class="btn btn-link">Atšaukti</a>
    </div>
</form>
