mat-list {
    max-width: 600px;
}

mat-icon {
    font-size: 30px;
}

.default {
    font-style: italic;
}

mat-divider {
    margin-top: 40px;
}

mat-form-field {
    margin-top: 20px;
    width: 400px;
}