<h1>Motinėlių auginimai</h1>
<div class="example-loading-shade" *ngIf="isDataLoading()">
    <mat-spinner *ngIf="isDataLoading()" color="accent"></mat-spinner>
</div>
<div *ngIf="!isDataLoading()">
    <button mat-raised-button color="accent" routerLink="add" [disabled]="!isThereAreLivingQueens()" *ngIf="worker && !!+worker.permissions[21]">
        Naujas auginimas
    </button>
    <table mat-table [dataSource]="queensRaisings">
        <ng-container matColumnDef="no">
            <th mat-header-cell *matHeaderCellDef>Nr</th>
            <td mat-cell *matCellDef="let element">
                <a routerLink="{{element.id}}">{{element.id}}</a>
            </td>
        </ng-container>
        <ng-container matColumnDef="daysLeft">
            <th mat-header-cell *matHeaderCellDef>Iki išsiritimo</th>
            <td mat-cell *matCellDef="let element">
                <span *ngIf="element.daysLeft > 0">{{element.daysLeft}} d.</span>
                <span *ngIf="element.daysLeft == 0">Ritasi</span>
                <span *ngIf="element.daysLeft < 0">Baigta</span>
            </td>
        </ng-container>
        <ng-container matColumnDef="breed">
            <th mat-header-cell *matHeaderCellDef>Veislė</th>
            <td mat-cell *matCellDef="let element">
                {{breed2LabelMapping[element.queen.breed]}}
            </td>
        </ng-container>
        <ng-container matColumnDef="startDate">
            <th mat-header-cell *matHeaderCellDef>Terminas</th>
            <td mat-cell *matCellDef="let element">
                {{element.startDate | date:'yyyy-MM-dd'}} - {{element.finishDate | date:'yyyy-MM-dd'}}
            </td>
        </ng-container>
        <ng-container matColumnDef="larvaCount">
            <th mat-header-cell *matHeaderCellDef>Auginamos</th>
            <td mat-cell *matCellDef="let element">
                {{element.larvaCount}}
            </td>
        </ng-container>
        <ng-container matColumnDef="queensCount">
            <th mat-header-cell *matHeaderCellDef>Išsiritusios</th>
            <td mat-cell *matCellDef="let element">
                {{element.queensCount}}
            </td>
        </ng-container>
        <ng-container matColumnDef="proc">
            <th mat-header-cell *matHeaderCellDef>Išauginimas, %</th>
            <td mat-cell *matCellDef="let element">
                {{element.queensCount/element.larvaCount*100 | number: '1.0-2'}}%
            </td>
        </ng-container>
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Veiksmas </th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button *ngIf="worker && !!+worker.permissions[22]">
                    <mat-icon routerLink="edit/{{element.id}}">edit</mat-icon>
                </button>
                <button mat-icon-button (click)="deleteQueensRaising(element.id)" *ngIf="worker && !!+worker.permissions[23]">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>