<div *ngIf="user && user.defaultFarmId">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <img src="assets/bee.png" class="header-icon">
      <h1 *ngIf="currentFarm">{{currentFarm.name}} ūkis</h1>
      <span class="menu-spacer"></span>
      <div>
        <button mat-icon-button [matMenuTriggerFor]="profile" class="menu-button">
          <mat-icon class="settings-icon">settings</mat-icon>
        </button>
        <mat-menu #profile="matMenu">
          <div class="user-info-section">
            <mat-icon class="account-circle">account_circle</mat-icon>
            <p>{{user.firstName}} {{user.lastName}}</p>
            <p>{{user.email}}</p>
            <button mat-flat-button routerLink="/settings" class="empty-button">Nustatymai</button>
          </div>
          <mat-divider></mat-divider>
          <mat-spinner diameter="40" *ngIf="!user || !farms" color="accent"></mat-spinner>
          <button mat-menu-item *ngFor="let farm of farms" class="default-farm-button" 
          [disabled]="currentFarm && farm.id == currentFarm.id" (click)="loadFarm(farm.id)"
          routerLink="/home">
            "{{farm.name}}" ūkis
            <p *ngIf="farm.id == user.defaultFarmId" class="default-p">Numatytasis</p>
          </button>
          <mat-divider></mat-divider>
          <button mat-menu-item (click)="logout()">
            <mat-icon>logout</mat-icon>
            <span>Atsijungti</span>
          </button>
        </mat-menu>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
  <!-- nav if no farms -->
<div *ngIf="user && !user.defaultFarmId">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <img src="assets/bee.png" class="header-icon">
      <span class="menu-spacer"></span>
      <div>
        <button mat-icon-button [matMenuTriggerFor]="profile" class="menu-button">
          <mat-icon class="settings-icon">settings</mat-icon>
        </button>
        <mat-menu #profile="matMenu">
          <div class="user-info-section">
            <mat-icon class="account-circle">account_circle</mat-icon>
            <p>{{user.firstName}} {{user.lastName}}</p>
            <p>{{user.email}}</p>
          </div>
          <mat-divider></mat-divider>
          <mat-spinner diameter="40" *ngIf="!user || !farms" color="accent"></mat-spinner>
          <button mat-menu-item *ngFor="let farm of farms" class="default-farm-button" 
          [disabled]="currentFarm && farm.id == currentFarm.id" (click)="loadFarm(farm.id)"
          routerLink="/">
            "{{farm.name}}" ūkis
            <p *ngIf="farm.id == user.defaultFarmId" class="default-p">Numatytasis</p>
          </button>
          <mat-divider></mat-divider>
          <button mat-menu-item (click)="logout()">
            <mat-icon>logout</mat-icon>
            <span>Atsijungti</span>
          </button>
        </mat-menu>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
 
<!-- main app container -->
<div>
  <mat-sidenav-container>
    <mat-sidenav *ngIf="user && user.defaultFarmId && currentFarm" mode="side" opened>
      <mat-nav-list>
        <a mat-list-item [routerLink]='"/home"' routerLinkActive="active">
          <mat-icon>home</mat-icon>
          <div class="menu-icon-title-gap"></div>
          Namai 
        </a>
        <mat-divider></mat-divider>
        <a mat-list-item [routerLink]='"/apiaries"' routerLinkActive="active">
          <img src="assets/beehives.svg" alt="apiary icon" class="menu-icon">
          <div class="menu-icon-title-gap"></div>
          Bitynai
        </a>
        <a mat-list-item [routerLink]='"/beehives"' routerLinkActive="active">
          <img src="assets/beehive.svg" alt="beehive icon" class="menu-icon">
          <div class="menu-icon-title-gap"></div>
          Aviliai 
        </a>
        <a mat-list-item [routerLink]='"/harvests"' routerLinkActive="active">
          <img src="assets/harvest.svg" alt="harvest icon" class="menu-icon">
          <div class="menu-icon-title-gap"></div>
          Kopimai
        </a>
        <a mat-list-item [routerLink]='"/todos"' routerLinkActive="active">
          <mat-icon>task</mat-icon>
          <div class="menu-icon-title-gap"></div>
          Užduotys
        </a>
        <a mat-list-item [routerLink]='"/queensraisings"' routerLinkActive="active">
          <!-- <mat-icon>task</mat-icon> -->
          <!-- <div class="menu-icon-title-gap"></div> -->
          Motinėlių auginimai
        </a>
        <mat-divider></mat-divider>
        <a mat-list-item [routerLink]='"/farms"' routerLinkActive="active">
          <img src="assets/beekeeper.svg" alt="beekeeper icon" class="menu-icon">
          <div class="menu-icon-title-gap"></div>
          Ūkiai
        </a>
 
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div style="height: 88vh;">
        <alert></alert>
        <router-outlet>
        </router-outlet>
      </div>
 
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>