<mat-spinner *ngIf="loading" color="accent"></mat-spinner>
<div class="example-loading-shade" *ngIf="beehiveComponents">
    <h1>Avilio komponentai</h1>
    <button mat-raised-button color="accent" routerLink="add" *ngIf="worker && !!+worker.permissions[6]">Naujas komponentas</button>
    <div>
        <table mat-table [dataSource]="beehiveComponents" width="100%" *ngIf="beehiveComponents && beehive">
            <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef>Pozicija</th>
                <td mat-cell *matCellDef="let element">
                    <span *ngIf="element.type === beehiveComponentType.Aukstas">{{element.position}}</span>
                </td>
            </ng-container>
            <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef>Tipas</th>
                <td mat-cell *matCellDef="let element">{{beehiveComponentType2LabelMapping[element.type]}}</td>
            </ng-container>
            <ng-container matColumnDef="insertDate">
                <th mat-header-cell *matHeaderCellDef>Įdėjimo data</th>
                <td mat-cell *matCellDef="let element">{{element.installationDate | date:'yyyy-MM-dd'}}</td>
            </ng-container>
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Veiksmas </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button *ngIf="worker && !!+worker.permissions[7]">
                        <mat-icon routerLink="edit/{{element.id}}">edit</mat-icon>
                    </button>
                    <button mat-icon-button (click)="delete(element.id)" *ngIf="worker && !!+worker.permissions[8]">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>